[bridge]

; 0 = info, 1 = debug
debug = 1

;
; core configuration options
;

;
; listener_port
; port to listen for incoming feed requests
;

listener_port=7790

;
; listener_address
; ipv4 address to listen; defaults to 127.0.0.1
; 0.0.0.0 binds to all interfaces
;
listener_address=0.0.0.0

;
; feed_host
; the IP address of this machine for Cb to contact with feed requests
;
feed_host=127.0.0.1

;
; binary_filter_query
; Additional query options to filter only binaries of interest to the reversinglabs connector
;binary_filter_query=is_executable_image:true -(digsig_publisher:"Microsoft Corporation" and digsig_result:"Signed")


; reversinglabs_deep_scan_threads number of threads used for uploading file to ReversingLabs TitaniumScale service
reversinglabs_deep_scan_threads=2


;
; reversinglabs API token
; This key  or username and password is given to you from reversinglabs
; it can be found either by connecting your reversinglabs rep or
; the reversinglabs website.
;

tiscale_api_token=PASSWORD

;
; TitaniumScale api host base url (https://192.168.1.1/)
reversinglabs_tiscale_host=

;
; Carbon Black Enterprise Server options
;

;
; Carbon Black Enterprise Server URL
;
carbonblack_server_url=https://127.0.0.1/

;
; Carbon Black Enterprise Server API Token
;
carbonblack_server_token=

;
; Carbon Black Enterprise Server SSL Verfication
;
carbonblack_server_sslverify=0


